.header {
  height: 150px;
  padding: 15px 0;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/src/assets/photo-1589998059171-988d887df646.jpg');

  .title {
    color: #fafafa;
    font-size: 32px;
    font-weight: 700;
  }
}